pandas
numpy
matplotlib
plotly
seaborn

scikit-learn
xgboost
lightgbm
prophet

torch
torchvision
torchaudio

jupyter
notebook

streamlit
fastapi
uvicorn

mlflow

openpyxl

sqlalchemy
psycopg2-binary

python-dotenv

tqdm
joblib

evidently

optuna

shap